<!DOCTYPE html>
<html>
    <head>
        <title>Articles For You</title>
    </head>
    <body>
        <h1>Your articles</h1>

        <h2><%= @article.title %></h2>
        <p><%= @article.content %></h2>

        <form method="post" action="/articles/<%=@article.id%>">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input id="submit" type="submit" value="delete post">
    
    </body>
</html>